rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Ejemplo: permitir lectura/escritura sólo a usuarios autenticados
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
